.jumbotron {
  background-color: #32a852;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #32a852;
  margin-top: 10px;
  margin-bottom: 0px;
}
.renta-carro {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-rentar {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.footer-rentar-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
